<div class="branch-info-section">
  <div class="container">
    <div class="header active-link text-center branch-title">
      {{ branchTitle }}
    </div>
    <div class="sub-header text-center mt-0 mb-lg-0 branch-h">
      {{ branchHeading }}
    </div>
  </div>

  <div class="branch_banner d-none">
    <div class="branch">
      <ngx-slick-carousel
        class="carousel px-2"
        #slickModal="slick-carousel"
        [config]="slideConfig"
      >
        <div
          ngxSlickItem
          *ngFor="let slide of branchList; let i = index"
          class="slide"
        >
                   <div
            class="details_card"
            style="border-radius: 15px; width: 174px; height: 100px;"
            [style.background-color]="slide.color"
            [ngClass]="{ details_card: i === slideIndex }"
          >
            <div class="branch_thired">
              <div
                class="text-center upper"
              >
                {{ slide.title }}
              </div>
              <div class="text-center lower">
                {{ slide.address }}
              </div>
            </div>
          </div>
          <!-- </> -->
        </div>
      </ngx-slick-carousel>
      
    </div>
    <img
      class="left-bg"
      src="../../../../assets/img/branch-left-bg.svg"
      alt=""
    />
  </div>

  <div class="text-center">
    <img src="../../../../assets/img/rbranch2.jpg" style="width:100%" class="image1" alt="">
  </div>
  
  <style>
    .text-center img {
      width: 100%;
      height: auto; /* Automatically adjusts height to maintain aspect ratio */
    }
  </style>
  
  
</div>

<div class="text-center mb-5  tour">
  <button
    type="button"
    class=" btn btn-primary button-rounded  px-2 py-2 mt-3 mt-lg-2"  (click)="navigateToContact()">
  Schedule a Tour 
  </button>
</div>

