$white-primary: #fff;
$dark-primary: #8c8b8b;

$button-primary: #8a2b3d;
$blue-primary: #2e5077;

$background-primary-light: #f9f6f1;
$shadow-yellow: #ffc107;
$background-light-grey: #eee;


$btn-primary: #B4874C;
$active-text-color: #772234;
$theme-blue: #0A2D51;



.stars {
  display: initial;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-text {
  font-size: 15px;
  font-weight: 400;
  // display: -webkit-box;
  // -webkit-box-orient: vertical;
  // -webkit-line-clamp: 6;
  // overflow: hidden;
}
.slick-slide {
  margin: 0 20px;
}
/* the parent */
.slick-list {
  margin: 0 -20px;
}
// .slick-slide {
//   // height:250px !important;
//   width: 400px ;
// }

.slick-slide {
  //width: 306px !important;

  .card {
    background-color: #ffffff5e !important;
    height: 320px !important;
    //width: 228px !important;
    position: relative;

    margin-top: 50px !important;
    margin-bottom: 50px !important;

    padding-top: 3rem !important;
  }
}
.slick-current {
  background-color: transparent !important;

  .card {
    background-color: #ffffff5e !important;
  }
}
.card-quote {
  display: initial;
  height: 20px;
  width: 20px;
}

.card-avatar {
  width: 100px;
  position: absolute;
  top: -50px;
  z-index: 100000000000;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.testimonila-intro {
  font-weight: 600;
}

.testimonial-title {
  font-size: 30px;
  color: #0a033c;
  font-weight: bold;
}

.testimonial-discription{
  font-size: 14px;
  color: #0a033c;
  font-weight: normal;
}

.testimonials {
  
}

.testimonialcard{
  columns: 3 200px;
  column-gap: 1.5rem;
}

.testimonialcard> div{
  background-color: #fff;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.09);
}

.testimonialcard .card-title{
   font-size: 20px;
   font-weight: 600;
}

.testimonial-discription{
  font-size: 16px;
  max-width: 800px;
  margin: auto;
}

@media only screen and (max-width: 1025px) {
  .testimonials {
    background-size: contain !important;
    background-position-y: center !important;
  }

  .testimonialcard{
    columns: 2 200px;
    column-gap: 1.5rem;
  }

  .slick-current {
    .card {
      margin: 0 auto !important;
      margin-top: 50px !important;
      margin-bottom: 50px !important;

      padding-top: 3rem !important;
    }
  }
  .card-text {
    font-size: 14px;
  }
  .testimonial-title{
    font-size:30px !important;
  }
  .testimonial-discription{
    font-size: 14px !important;
  }
}

.test-p {
  font-size: 25px;
  font-weight: 600;
  color: #6f1931;
}

.test-h {
  font-size: 55px;
  font-weight: 700;
}

// .slide-w{
//   width: 450% !important;
// }

@media only screen and (max-width: 575px) {
  .testimonialcard{
    columns: 1;
  }

}

@media only screen and (max-width: 480px) {
  .slide_height {
    height: 400px !important;
  }
  .container {
    overflow: hidden !important;
  }

  // .slick-slide {
  //   width: 345px !important;
  // }


  .test-h {
    font-size: 35px;
    font-weight: 600;
  }

  .testimonials {
    margin: 20px 5px;
  }
}




.card_hyt{
    min-height: 297px !important;
    margin-bottom: 69px;
}
