@import "../../../../assets/styles/variables.scss";


.stars {
  display: initial;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
}

.card-text {
  font-size: 15px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}
.slick-slide {
  margin: 0 20px;
}
/* the parent */
.slick-list {
  margin: 0 -20px;
}
// .slick-slide {
//   // height:250px !important;
//   width: 400px ;
// }

.slick-slide {
  //width: 306px !important;

  .card {
    background-color: #ffffff5e !important;
    height: 320px !important;
    //width: 228px !important;
    position: relative;

    margin-top: 50px !important;
    margin-bottom: 50px !important;

    padding-top: 3rem !important;
  }
}
.slick-current {
  background-color: transparent !important;

  .card {
    background-color: #ffffff5e !important;
  }
}
.card-quote {
  display: initial;
  height: 20px;
  width: 20px;
}

.card-avatar {
  width: 100px;
  position: absolute;
  top: -50px;
  z-index: 100000000000;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.testimonila-intro {
  font-weight: 600;
}

.testimonial-title {
  font-size: 30px !important;
  color: #0a033c;
  font-weight: bold;
}

.testimonials {
  background-image: url("../../../../assets/img/testimonial background.svg");
  background-repeat: no-repeat;
  // background-size: inherit;
  background-position: -85px -58px;
  background-size: 110% 136%;
}

.test-h {
  font-size: 55px !important;
  font-weight: 700;
}

@media only screen and (max-width: 1025px) {
  .testimonials {
    
  }

  .testimonila-intro {
    font-size: 25px !important;
  }

  .slick-current {
    .card {
      margin: 0 auto !important;
      margin-top: 50px !important;
      margin-bottom: 50px !important;

      padding-top: 3rem !important;
    }
  }
  .test-h {
    font-size: 30px !important;
  }
}

.test-p {
  font-size: 25px;
  font-weight: 600;
  color: #6f1931;
}

.star-review {
  display: flex;
  justify-content: center;
}

.star-review i {
  margin: 0 2px;
  color: #fbbf67 !important;
}

// .slide-w{
//   width: 450% !important;
// }

@media only screen and (max-width: 768px) {
  .testimonials {
    margin-top: 8rem !important;
  }

  .testimonials {
    background-position: 0 -100px;
  }
}

@media only screen and (max-width: 480px) {
  .slide_height {
    height: 400px !important;
  }
  .container {
    overflow: hidden !important;
  }

  .test-h {
    font-size: 35px;
    font-weight: 600;
  }

  .testimonials {
    margin: 20px 5px;
  }
}
